#headerDiv {
	color: #e37c3a;
	line-height: 50px;
	font-family: 'Eagle Lake', cursive;
	margin-top: 20px;
	text-align: center;
}

#gridContainer {
	background-color: #d22b2b;
	margin: 50px auto;
	width: 800px;
	height: 900px;
	border-radius: 40px;
	text-align: center;
	padding: 40px;
}


.floating-box {
	float: left;
    width: 40px;
    height: 40px;
    border: 1px dotted black;
	background-color: white;
}

#refresh {
	margin-left: 50px;
}
